<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anurag.covidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.OxygenDisplayDetails"></activity>
        <activity android:name=".activity.Cities" />
        <activity android:name=".activity.MiscGetLocation" />
        <activity android:name=".activity.HelplineGetLocation" />
        <activity android:name=".activity.CovidTestGetLocation" />
        <activity android:name=".activity.MealsGetLocation" />
        <activity android:name=".activity.BedsGetLocation" />
        <activity android:name=".activity.PlasmaGetLocation" />
        <activity android:name=".activity.AmbulanceGetLocation" />
        <activity android:name=".activity.MedicineGetLocation" />
        <activity android:name=".activity.OxygenGetLocation" />
        <activity android:name=".activity.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>